<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    {%block title%}

    {%endblock%}
  </head>
  <body>
    <header>
        <div class="header_border_2">
          <div class="header_border_1">
            {%block header%}

            {%endblock%}
          </div>
        </div>
    </header>
    {%block content%}

    {%endblock%}
    <footer>
      <div class="footer_border_2">
        <div class="footer_border_1">
          <p>
            Created by Dmitry Nazarenko
          </p>
        </div>
      </div>
    </footer>
  </body>
</html
