{%extends 'base.html'%}
{% load static %}

{%block title%}
    <link rel="stylesheet" href="{% static 'css/homepage.css' %}">
    <title> Login Page </title>
{%endblock%}

{%block header%}
<h3>Login in/<a href="{% url 'register_url'%}">Sign in</a></h3>
{%endblock%}

{%block content%}

    {% if form.errors %}
      <p>Something wrong with what you entered</p>
    {%endif%}

    <form  action="{% url 'login' %}" method="post">
      {%csrf_token%}
      <p>Username: {{form.username}}</p>
      <p>Password: {{form.password}}</p>
      <p><button type="submit" name="button">Login</button></p>
    </form>

{%endblock%}
