{%extends 'journal/base_journal.html'%}

{%block header%}
    <p>User:  {{user.username}}</p>
    <p><a href="{%url 'logout'%}">Sign out</a></p>
{%endblock%}

{%block content%}
      <section id= "main">
        <form action="{% url 'journal_update_record_url' month=month day=day slug=slug%}" method="post">
          <div id="records">
              {%csrf_token%}
              {%for field in form%}
                <div class="field_label">
                  <p class = "no_padding">
                    {{field.label}}:
                  </p>
                </div>

                <div class="field">
                  <p class = "no_padding">
                    {{field}}
                  </p>
                </div>
              {%endfor%}
            <div id ="rec_submit">
              <button type="submit">Update Record</button>
            </div>
          </div>
        </form>
      </section>
{%endblock%}
